.paciente,
.data {
    color: rgba(48, 59, 91, 0.3);
    font-size: 0.625rem;
    font-weight: 700;
}

.paciente {
    padding-bottom: 0.5rem;
}

.nome {
    color: rgba(48, 59, 91, 1);
    padding-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.oTeste {
    padding-bottom: 0.5rem;
    font-weight: 300;
}

.teste {
    font-weight: 600;
}
