.container {
    position: relative;
    height: 100vh;
    background: linear-gradient(107.65deg, #1042DD 0.43%, #24B0A8 100%);
    z-index:2 
}
  
.container::before {
    content: "";
    background-image: url("../public/imagens/background.png");
    background-color: black;
    background-size: cover;
    background-position: bottom;
    mix-blend-mode: overlay;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
}

.container__conteudo {
    background-color: #EFF2F9;
    position: absolute;
    width: 1592px;
    height: 1016px;
    left: 288px;
    top: 32px;
    border-radius: 30px;
}
