.barra {
    width: 100%;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 1.8rem 1.8rem 0rem 0rem;
}

.barra__opcoes {
    width: 17.54rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.5rem;
}

.barra__iconeSettings {
    color: #2C2E3D;
}

.barra__iconeNotification {
    color: #2C2E3D;
    display: flex;
    position: relative;
}

.barra__iconeNotificationSino {
    color: #2C2E3D;
    position: relative;
}

.barra__iconeNotificationCirculo {
    color: #FF001F;
    position: relative;
    top: 0;
    left: -0.4rem;
}

.barra__olaUsuario {
    background: rgba(47, 68, 134, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 0.5rem 0.5rem 0.5rem 0.87rem;
    border-radius: 50px;
}

.barra__olaUsuarioTexto {
    color: #565468;
    padding-left: 0.15rem;
    font-size: 0.875rem;
    font-weight: 300;
}

.barra__olaUsuarioTexto span {
    font-weight: 600;
}

.barra__olaUsuarioFoto {
    width: 2.5rem;
}

.barra__squareIcon {
    width: 1.25rem;
    height: 1.25rem;
}