.titulos {
    color: #303B5B;
    position: absolute;
    display: flex;
    align-items: center;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

.informacoesTitulo {
    width: 192px;
    left: 320px;
    top: 152px;
}

.historicoTitulo {
    width: 248px;
    left: 320px;
    top: 432px;
}

.atulizacoesTitulo {
    width: 240px;
    left: 320px;
    top: 848px;
}

.testeTitulo {
    width: 248px;
    left: 1472px;
    top: 432px;
    line-height: 25px;
}