.campoBusca {
    position: relative;
}

input[type=text] {
    background: #F5F5F5;
    width: 25rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.31rem;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
}

input[type=text]::placeholder{
    color: rgba(44, 46, 61, 0.3);
    font-weight: 400;
    font-size: 0.87rem;
}

.campoBusca input[type=text] {
    padding-left: 2.5rem;
}


.campoBusca__icone {
    color: #787686;
    position: absolute;
    left: 0.625rem;
    top: 0.75rem;
}



