.informacoesGerais {
  height: 14.5rem;
}

.tituloInformacoes {
  color: #303b5b;
  position: absolute;
  width: 13rem;
  height: 1.5rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
}

.divTodasInformacoes {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 95.5rem;
  margin-top: 3rem;
}

.divInformacao {
  background-color: #fff;
  position: relative;
  width: 23rem;
  height: 11rem;
  padding: 1.5rem 1.25rem 1.8rem 1rem;
  border-radius: 0.375rem;
  box-shadow: 0px 8px 26px rgba(71, 87, 122, 0.08);
}

.divIconePorcentagem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.porcentagemNegativa {
  background-color: hsla(349, 90%, 49%, 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  font-size: 0.625rem;
  font-weight: 600;
}

.porcentagemPositiva {
  background-color: hsla(158, 75%, 43%, 1);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 1.5rem;
  border-radius: 1.25rem;
  font-size: 0.625rem;
  font-weight: 600;
}

.informacaoDivIconeAtivos,
.informacaoDivIconeRealizados {
  color: rgba(0, 87, 255, 1);
}

.informacaoDivIconeConcluidos {
  color: rgba(28, 191, 132, 1);
}

.informacaoDivIconeCancelados {
  color: rgba(239, 12, 53, 1);
}

.iconeCheck {
  position: absolute;
  top: 1.04rem;
  left: 0.6rem;
}

.iconeClose {
  position: absolute;
  top: 1.25rem;
  left: 0.9rem;
}