/*.dashboard {
    padding: 2rem 2rem 1.5rem 2rem;
}

.divHistoricoTeste {
    display: flex;
    height: 23rem;
    margin-top: 3rem ;
}

.testeMaisRealizadoDash {
    margin-left: 1rem;
}

.atualizacoesImportantesDash {
    margin-top: 3rem;
}*/