.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard__historicoTeste {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
}