.tituloAtualização {
    color: #303B5B;
    position: absolute;
    width: 240px;
    height: 24px;
    left: 320px;
    top: 848px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}