.titulo {
    color: #303B5B;
    position: absolute;
    width: 192px;
    height: 24px;
    left: 320px;
    top: 152px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}
