/* Alinhar elementos */
.logo {
    display: flex;
    position: absolute;
    width: 13rem;
    height: 2.5rem;
}

.logo__vetor {
    color: #FFFFFF;
    left: 8.33%;
    right: 8.33%;
    bottom: 8.33%;
}

.logo__nome {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}

.logo__nome span {
    font-weight: 900
}