.appContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2rem 2.5rem;
}

.appLogo {
  margin-top: 1.5rem;
}

hr {
  width: 14rem;
  height: 0.06rem;
  margin-top: 1.4rem;
  border-color: hsla(0, 0%, 100%, 0.1);
}

.appQuadro {
  width: 100%;
  background-color: rgba(239, 242, 249, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.875rem;
}

.appBarra {
  width: 100%;
}

.appConteudo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2.5rem 1.5rem 2rem;
}

.appPagina {
  color: rgba(48, 59, 91, 1);
  font-size: 2.5rem;
  text-align: center;
}

/*.container {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../public/imagens/background.png"),linear-gradient(107.65deg, rgba(16, 66, 221, 1) 0.43%, rgba(36, 176, 168, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: overlay;
}

.lateral {
    display: flex;
    flex-direction: column;
    height: 63.5rem; 
}


hr {
    border-color: hsla(0, 0%, 100%, 0.1);
    width: 14rem;
    height: 0.06rem;
    margin-top: 1.4rem;
}


.quadro {
    background-color: #EFF2F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.6rem;
    height: 63.5rem;
    border-radius: 1.8rem;
}*/
